.header {
	background: linear-gradient(to right, #16222a, #3a6073);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	color: #fff;
}

.header h1 {
	font-family: Arial, sans-serif;
	font-size: 2rem;
	margin: 0;
}

.header-buttons {
	display: flex;
	align-items: center;
}

.header-searchbar {
	margin-left: auto;
}
.modal {
	display: flex;
	align-items: center;
	justify-content: center;
}
