.header {
	background: linear-gradient(to right, #16222a, #3a6073);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	color: #fff;
}

.header h1 {
	font-family: Arial, sans-serif;
	font-size: 2rem;
	margin: 0;
}

.header-buttons {
	display: flex;
	align-items: center;
}

.header-searchbar {
	margin-left: auto;
}
.modal {
	display: flex;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width: 767px) {
	.header {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 0.5rem;
	}

	.header h1 {
		margin-bottom: 0.5rem;
		text-align: center;
	}

	.header-buttons {
		width: 100%;
		justify-content: space-between;
		margin-top: 0.5rem;
	}

	.header-searchbar {
		margin-left: 0;
		width: 100%;
		margin-top: 0.5rem;
	}

	.modal {
		padding: 1rem;
	}
}
