.Navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Navbar.Brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.Navbar.Collapse {
    justify-content: flex-end;
}

.Navbar .Nav.Link {
    color: #555;
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 1rem;
}

.Navbar .Nav.Link:hover {
    color: #222;
}
.header-buttons-container {
    display: flex;
    justify-content: space-between;
}